<div class="row">
    <a href="{{ site.baseurl | replace: '//', '/' }}/" class="logo noline">
        {% include full.html %}
    </a>
    <div style="margin-left: 20px; padding: 20px 20px 0 20px; max-width: 75%; text-align: justify">
        <p>
        Technical Lead working with Java and javascript ecosystems: microservices, web components (lit-element), React, reactive architectures, TDD and Clean Code.
        </p>
        <p>
        I also work as a security champion, trying to sift-left many security checks so we can prevent most of the OWASP vulnerabilities from the development phase.
        </p>
        <p>
        I'm also an agile believer. It is not easy, specially in big companies, but I found that with focus on delivery working software (software that somebody needs) and being able to adapt your plans you can achive great things. The rest of the values are derived from these two: simplicity, interactions over tools, trust, etc...
        </p>
        <p>
        In my spare time I really enjoy spending time with my seven children. I love playing board games (my favourite is Game of Thrones) and watching TV series.
        </p>
        <p>
        What else can I say: my life is full of hazzle an buzzle!
        </p>
    </div>
</div>
