<div class="row">
    <a href="{{ site.baseurl | replace: '//', '/' }}/" class="logo noline">
        {% include full.html %}
    </a>
    <div style="margin-left: 20px; padding: 20px 20px 0 20px; max-width: 75%; text-align: justify">
        Senior Java and JavaScript developer with experience in some of the main technologies in those layers.

        Right now I’m working on a micro service architecture using a reactive Java framework.

        I’ve been working as a Scrum Master as well, but without giving up my Developer tasks.

        I really like working in self-sufficient, autonomous agile teams. I reckon this is the best way to deliver value to the client as soon as possible, and to enjoy doing it as well.

        Spending time on continuous improvement inside the team is the right way of dealing with most of the big problems we need to face over our workday.

        Working together, building together, learning together!
    </div>
</div>
